sphinx 
sphinx-gallery
sphinx_rtd_theme
numpydoc 
pandoc==1.0.2  # Required for markdown cells in nbsphinx
ipython==7.16.3  # Required for syntax highlighting in nbsphinx
sphinx-copybutton==0.3.1

# requirements for package build on readthedocs
cmake==3.18.4
ninja==1.10.0
setuptools==51.3.3
numpy>=1.19.1
scipy>=1.5.2
scikit-learn>=0.22.1
pybind11-global==2.6.1
